extends layouts/register

block content  
    form.container(action="/login" method="post")
        div.row.justify-content-center 
            div.col-6
                if message
                    div.alert.alert-danger(role="alert")
                        p #{message} 

                // Email input
                div.form-outline.mb-4
                    label.form-label(for="email") Email
                    input#email.form-control(type="email" name="email")
                    
                // Password input
                div.form-outline.mb-4
                    label.form-label(for="senha") Senha
                    input#senha.form-control(type="password" name="senha")

                // 2 column grid layout for inline styling
                div.row.mb-4
                    div.col.d-flex.justify-content-center
                    // Checkbox
                    div.form-check
                        input.form-check-input(type="checkbox", value="", id="form2Example31", checked)
                        label.form-check-label(for="form2Example31") Lembre de mim
                    div.col
                    // Simple link
                    a(href="/recuperar") Esqueceu a senha?

                // Submit button
                button.btn.btn-primary.btn-block.mb-4(type="submit") Login

                // Register buttons
                div.text-center
                    p Não é usuario? 
                        a(href="/cadastro") Cadastro