header 
    .container
        .row.justify-content-center
            .col-4
                figure 
                    img(class="img-fluid img-logo rounded float-end", src="presente.jpg")

            .col-8
                h1 Sorteio Amigo Secreto

        .row.justify-content-center
            .col-2
                a(class="btn btn-primary", href="/sorteio") + Sorteio

            .col-3.offset-2
                h4 MEUS SORTEIOS

            .col-2
                small email

            .col-1
                button(type="button", class="btn btn-primary") Sair