extends layouts/page

block content 

    link(rel="stylesheet" href="form.css")

    script(src="form.js" defer) 

    div.container
        div.row.justify-content-center
            div.col-8.text-center.p-0.mt-3.mb-2
                //-.card.px-0.pt-4.pb-0.mt-3.mb-3
                ul#progressbar
                    li#raffle_name.active: strong Nome
                    li#participants: strong Integrantes
                    li#restriction: strong Restrições
                    li#start_raffle: strong Sortear
    div.container
        fieldset
            form(action="/sorteio/nome", method="post") 
                
                div.row.text-start 
                    div.col-7
                        h2.fs-title Nome do sorteio:
                    div.col-5
                        h2.steps Etapa 1 - 4
                div.row.justify-content-center
                    div.col-6
                        label.form-label(for="nome") Escolha um nome para o sorteio
                        div.input-group 
                            input#nome.form-control(type="text" name="nome")
                            button.btn.btn-primary(type="submit") Ok!
            
            a.btn.btn-danger.float-start.mt-3(href="/") Cancelar
            button.next.btn.btn-primary.float-end.mt-3(type='button' name='next') Proximo

        fieldset 
            form(action="", method="post") 
                div.row.text-start  
                    div.col-7
                        h2.fs-title Adicionar participantes:
                    div.col-5
                        h2.steps Etapa 2 - 4
                div.row.align-items-end 
                    div.col-3.mb-3 
                        label.form-label(for="nome") Nome
                        input.form-control#nome(type="text" required)

                    div.col-3.mb-3 
                        label.form-label(for="sobrenome") Sobrenome
                        input.form-control#sobrenome(type="text" required)

                    div.col-4.mb-3 
                        label.form-label(for="email") Email
                        input.form-control#email(type="email" required)

                    div.col-2.mb-3.text-end 
                        button.btn.btn-primary#adicionar(disabled)
                            i.fa-solid.fa-plus
                            |  Adicionar!
                
            button.next.btn.btn-primary.float-end.mt-3(type='button' name='next') Proximo
            button.previous.btn.btn-secondary.float-start.mt-3(type='button' name='previous') Anterior

        fieldset 
        
            div.row.text-start 
                div.col-7
                    h2.fs-title Filtros de sorteio:
                div.col-5
                    h2.steps Etapa 3 - 4
            div.text-center
                a(class="btn btn-primary") Criar Grupo

            button.next.btn.btn-primary.float-end.mt-3(type='button' name='next') Proximo
            button.previous.btn.btn-secondary.float-start.mt-3(type='button' name='previous') Anterior

        fieldset 
            div.row.text-start
                div.col-7
                    h2.fs-title Iniciar sorteio:
                div.col-5
                    h2.steps Etapa 4 - 4
            div.text-center
                a(class="btn btn-primary") Sortear

            button.next.btn.btn-primary.float-end.mt-3(type="submit" name='next') Enviar
            button.previous.btn.btn-secondary.float-start.mt-3(type="button" name='previous') Anterior