/** {
    outline: 1px solid red;
}*/

body {
    display:grid; 
    grid-template-rows: auto 1fr auto;
    min-height:100vh;
}

.box-sorteio {
    width: 400px;
    height: 400px;
}

.img-logo {
    width: 65px;
    height: 65px;
}

.home-box {
    height: 500px;
}